<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="{{style}}">

</head>
<body>
    <div id="header">
        <h1>Musicadjusterthingy</h1>
        <h2>When ya wanna adjust that music</h2>
    </div>

    <div id="nav">
        <a href="/">Main</a>

        <a href="/lyrics">Lyrics</a>
        <a href="/place">Place</a>
        <a href="/holder">Holder</a>
    </div>
    <div class="left">

        <div class="results">
            <h1>Oho 404, oletko hiukan torvelo</h1>
        </div>
        <div id="footer">
            Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">website design</a>
        </div>
    </div>
</body>
</html>